/* 
Title: Assignment 6.3 bioSite Development 
Author: Brittaney Perry-Morgan 
Date: Sunday, September 7th, 2025 
Description: Module 6 Assignment 6.3 - bioSite Development  Styles

This is the base CSS file. It houses the variables for the bioSite (e.g., colors, fonts, etc.).
*/

:root {
    /* Colors - Basic Colors */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #808080;

    /* Colors - Color Palette */
    --color-italian-crimson: #C1272D;
    --color-basil-green: #008C45;
    --color-cannoli-cream: #F8F4E3;
    --color-obsidian-black: #1A1A1A;
    --color-phantom-silver: #B0B0B0;

    /* Colors - Page Colors */
    --color-page-background-dark-blue: #212020;
    --color-page-background-dark-red: #100606;
    --color-page-background-dark-purple: #140715e1;

    /* Typography */
    --font-family-base: proxima-nova, sans-serif;
    --font-family-heading: yorkten-slab-normal, sans-serif;

    --font-weight-lighter: 100;
    --font-weight-light: 200;
    --font-weight-base: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-bolder: 800;
}

body {
    font-family: var(--font-family-base);
}

.home__body {
    background: var(--color-page-background-dark-blue);
    color: var(--color-white);
}

.about__body,
.contact__body {
    background: var(--color-cannoli-cream);
    color: var(--color-navy);
}

.sneakers__body {
    background: var(--color-page-background-dark-purple);
    color: var(--color-white);
}

.streaming__body,
.horror__body {
    background: linear-gradient(180deg, var(--color-page-background-dark-red) 18%, var(--color-obsidian-black) 82%);
    color: var(--color-cannoli-cream);
}

header {
    background-color: var(--color-obsidian-black);
    color: var(--color-white);
    padding: 0;
    position: relative;
}

.header__nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h6 {
    margin: 0;
    font-size: 1.1em;
    line-height: 1;
}

.header__menu {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    align-items: center;
}

.header__menu-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__menu-item a {
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 6.5em;
    justify-content: center;
    padding: 0 5px;
    font-size: 0.8em;
}

.header__menu-item a[aria-current="page"],
.header__menu-item a:hover {
    color: var(--color-basil-green);
    text-transform: uppercase;
    letter-spacing: 1.25px;
    transition: ease-out 0.7s;
    box-shadow: 0 4px 0 0, var(--color-basil-green);
    text-shadow: 0 0 2px var(--color-basil-green);
}

.header__menu-item a:hover {
    color: var(--color-italian-crimson);
    text-shadow: 0 0 2px var(--color-italian-crimson);
}

.header__menu-item a:active {
    color: var(--color-phantom-silver);
    text-shadow: 0 0 2px var(--color-phantom-silver);
}

.header__flag {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3px;
    width: 100%;
    border-bottom: var(--color-navy) 1px solid;
}

.about__body .header__flag {
    border-bottom: var(--color-cannoli-cream) 1px solid;
}

.header__flag div {
    flex: 1;
    height: 100%;
}

.header__flag .flag-green {
    background-color: var(--color-basil-green);
}

.header__flag .flag-white {
    background-color: var(--color-white);
}

.header__flag .flag-red {
    background-color: var(--color-italian-crimson);
}