/* 
Title: Assignment 6.3 bioSite Development 
Author: Brittaney Perry-Morgan 
Date: Sunday, September 7th, 2025 
Description: Module 6 Assignment 6.3 - bioSite Development  Styles

This file houses the CSS for styling individual UI elements (e.g., buttons, headers, etc.).
*/

img {
    width: 200px;
    height: auto;
}

.home__portrait-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color-basil-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}